[2017-05-16 10:48] mikebrules opened #1 "Example in README seems to be broken"
Hi, I'm doing this;

    const requestBody = bob.requestBodySearch()
    .query(
        bob.boolQuery()
            .must(bob.matchQuery('last_name', 'smith'))
            .filter(bob.rangeQuery('age').gt(30))
    )
    console.log(JSON.stringify(requestBody.toJSON()));

which is giving me

     {"query":{"bool":{"filter":{"range":{"age":{"gt":30}}}}}}

so no inclusion of the "must" clause...

Am

[2017-05-16 13:22] sudo-suhas commented on #1
Hey, this might sound a little weird, but thanks for creating the first issue 🎆

I was not able to replicate the issue you are facing.
I tried running it in my local environment,  in the [demo](https://elastic-builder.js.org/) and in runkit.
Here is an online runnable with virtually the same code - https://runkit.com/sudo-suhas/591afab32d7214001265b361

If you are not able to identify the issue, p

[2017-05-16 13:27] mikebrules commented on #1
haha, np :)

Pasting your code straight in , and using 0.4.0 I get

     {
        "query": {
           "bool": {
             "filter": {
                "range": {
                  "age": {
                    "gt": 30
                  }
               }
            }
          }
        }
      }

That's odd isn't it. Node 4.2.6?

[2017-05-16 14:11] sudo-suhas commented on #1
Little bit at my wit's end here:
[code]

[2017-05-17 03:12] sudo-suhas commented on #1
@mikebrules Were you able to identify the issue? If not, could you please run the following and post the output?
[code]

[2017-05-17 08:10] mikebrules commented on #1
@sudo-suhas hello, here you go...

(attached)
[debug.txt](https://github.com/sudo-suhas/elastic-builder/files/1006980/debug.txt)

[2017-05-17 08:37] sudo-suhas commented on #1
@mikebrules The output looks identical. The last line shows that the bool query has both `must` and `filter` clauses. Do you see something different if you do `bob.prettyPrint` for the same `requestBody` object?

[2017-05-20 05:12] sudo-suhas commented on #1
Closing as invalid.

[2017-05-20 05:12] #1 closed

[2017-07-10 08:30] piotrkochan opened #13 "Deprecation warning witch hasChildQuery"
` Deprecated field [child_type] used, expected [type] instead`

Generated query:
[code]

Used version: 1.0.0

[2017-07-10 09:07] #13 closed

[2017-07-10 09:19] sudo-suhas commented on #13
Hey @piotrkochan Thanks for reporting this issue! I have fixed and released it in `v1.0.1`.

[2017-07-27 12:03] rado0x54 opened #16 "Invalid declaration file index.d.ts"
Hello,

I wanted to utilize the elastic-builder (1.0.2), however during typescript transpilation I get the following error:

[code]

this refers to the top-level definition:
[code]

which is not allowed since typescript 0.9. (https://typescript.codeplex.com/wikipage?title=Known%20breaking%20changes%20between%200.8%20and%200.9)

Could you adapt your building / publishing procedure to produce a vali

[2017-07-27 12:31] sudo-suhas commented on #16
Hey @rado0x54, thank you for reporting this. I am looking into this and will release a patch version as soon as I can.

My experience with typescript is limited. While I'll try to find out the answers for these on my own as well, it'd be really great if you could fill me in on any of them:
- What do I need to do to make VSCode show me these errors? Here's a screenshot:
  ![image](https://user-imag

[2017-07-28 04:05] #16 closed

[2017-07-28 04:53] sudo-suhas commented on #16
Hey @rado0x54, I have modified the type definition to have a namespace. I also added a test to ensure that typescript transpilation does not error out. These changes have been published to npm in `v1.0.3`.

Let me know if you have any suggestions or if the issue persists.

[2017-07-28 07:30] rado0x54 commented on #16
Wow, I would have offered to take a look on the weekend, but you were a lot faster. 1.0.3 works fine for me now. Thank you very much!

[2017-07-28 07:32] sudo-suhas commented on #16
I'd still appreciate a look at the type definition if you don't mind. Hopefully I am not doing something horribly wrong 😄

[2017-07-28 10:59] rado0x54 commented on #16
I'll have a look. Unfortunately you git del/added the index.d.ts instead of moving it :). Therefore I cannot see the exact changes in your commit. I'll check the diff manually this weekend and give you a short feedback.

[2017-07-28 11:30] sudo-suhas commented on #16
There was a type definition inside `src` which [used to re-export everything](https://github.com/sudo-suhas/elastic-builder/blob/31a950c1f0b744140c06ecb07a462ddce6e8cf1e/src/index.d.ts) so that you could do either of the following and still get intellisense support:
[code]
The `src` code is valid in node 6+.

The actual change was very little:
[code]

After I introduced the namespace, the re-expor

[2017-07-28 12:24] rado0x54 commented on #16
Sounds quite reasonable. I'm not sure why you use a 'CommonJS' type of export in typescript (export = ), instead of using the recommended ES6. It is the responsibility of tsc to define the output JS module system. e.g.
`tsc --module commonjs Test.ts`
also compare (https://www.typescriptlang.org/docs/handbook/modules.html).

To reexport this cjs export you can do
[code]
which worked for me.

[2017-07-30 09:18] sudo-suhas commented on #16
@rado0x54 I was actually imitating some of the modules I found in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped). Dunno about the real impact of export type. I was able to use it in the [test file](https://github.com/sudo-suhas/elastic-builder/blob/master/test/typedef.test.ts) with ES6 import.

[2017-08-07 21:39] i-like-robots opened #21 "Support for an array of aggregations"
For convenience it may be nice if the aggregation/agg method could support being given an array of aggregation types, or separate aggregations/aggs method added to the core aggregation class. For example:

[code]

I think this would help to keep the API fluent, what do you think? I'd be happy to help implement this if you think it would be a useful addition.

[2017-08-08 03:11] sudo-suhas commented on #21
@i-like-robots Thanks for taking the time to suggest improvements. The whole point of this library is convenience 😁. However, I don't quite understand your code example. Right now there are 2 classes which allow to add aggregations:
- `RequestBodySearch` - https://github.com/sudo-suhas/elastic-builder/blob/master/src/core/request-body-search.js#L102-L114
- `Aggregation` - https://github.com/sudo-s

[2017-08-08 07:23] i-like-robots commented on #21
Thanks for your fast response @sudo-suhas -yes, I think your sample implementation is exactly what I had in mind 😁

Basically I have some configuration based query generation and I thought this feature would make the code more readable.

[2017-08-08 07:26] sudo-suhas commented on #21
@i-like-robots I'd be delighted if you could help implement this.

Regarding the configuration based query generation, could you explain a bit more? Maybe we can add a recipe if it is a reusable pattern.

[2017-08-08 08:06] i-like-robots commented on #21
So in my case I am creating multiple buckets of tags, filtered by types. The configuration is an array of tuples (name, type). Each tag is a nested document with multiple fields.

[code]

I can generate the aggregations like so:

[code]

This isn't too bad, but it's nice to stay in the fluent API:

[code]

[2017-08-09 08:12] #21 closed

[2017-08-17 09:52] carasel opened #27 "Using terminate after and index on a term query"
I am probably missing something really obvious, but when I try to use requestBodySearch() with terminateAfter() or index() I get errors.

[code]

The result I get from elastic-builder is `{ query: { term: { myId: '7181909' } }, terminate_after: 1 }`

Running that causes an error: `[illegal_argument_exception] request [/_search] contains unrecognized parameter: [query]`

What I need is `{index: 'my

[2017-08-17 11:11] sudo-suhas commented on #27
`elastic-builder` deals with building just the body for Request Body Search. I'll also try to add some basic documentation for usage with the elasticsearch client.  Relevant docs - https://www.elastic.co/guide/en/elasticsearch/reference/5.5/search-request-body.html. As you can see, `terminate_after` is a valid parameter similar to `size`. So the query in elasticsearch console would look something

[2017-08-17 11:35] carasel commented on #27
Great, thanks. I saw index and type on aggregates I think and assumed I could use them in normal queries too.

[2017-08-17 11:36] #27 closed

[2017-08-17 22:44] moander opened #28 "Create query from object/json"
Hi,

I have a case where parts of the query comes from the back end. Problem now is that I can't find a way to convert a object into a Query object.

I have found a hack but it feels so wrong. Is there a "right" way to do this?

[code]

Thanks for a cool query builder!

Morten

[2017-08-18 04:43] sudo-suhas commented on #28
I would advise against the way you are doing this right now. Modifying internal state can lead to unpredictable problems.

There are a three ways that I can think of but you would have to change the format of the data you would use to build a query. I am going to consider a example query and explain how you could build it:

[code]

### [elastic-muto](https://muto.js.org/)

This library allows to e

[2017-08-18 04:43] #28 closed

[2017-09-10 16:42] moander commented on #28
Thank you very much for your awesome answer :D

I really like your last suggestion. Any thoughts on extending elastic-builder with a .toArgs() method?

[2017-09-11 10:32] sudo-suhas commented on #28
Hey@moander, I cannot think of a simple way to add that feature. I feel it is beyond the scope of this package. You could however, fork this package and change it for your requirement.

[2017-10-10 11:38] eyalse opened #33 "is it possible to chain queries ?"
or maybe query can accept an array of queries?

[2017-10-11 03:20] sudo-suhas commented on #33
Are you referring to the [Multi Search API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-multi-search.html)? This isn't supported right now. But I'd be willing to accept a pull request which adds this. It would need to build an object for the options described in the [javascript API docs for `msearch`](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/cu

[2017-12-18 04:58] longlh1306 opened #38 "functionScoreQuery generates invalid query"
I made a functionScoreQuery  like this:
`esbuilder.functionScoreQuery()
      .query(mainFilter)
      .functions(functions)
      .scoreMode('sum')
      .boostMode('replace')
      .minScore(0);`

functions is an array of weightScoreFunction. The above query works well if the arrays has more than 1 elements. But in case of only 1 element, it generates an invalid query like this:
`POST opportunit

[2017-12-19 03:01] sudo-suhas commented on #38
Hey @longlh1306. I implemented this particular behavior based on the [elasticsearch reference](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-function-score-query.html).

Did you get an error when you tried to run this query against elasticsearch? If so, could you share the error here?

[2017-12-28 04:13] sudo-suhas commented on #38
ping @longlh1306

[2018-01-09 14:08] sudo-suhas commented on #38
Closing due to inactivity.

[2018-01-16 02:07] ericmackrodt opened #39 "Extending Query"
Hi, I'd like to be able to extend Query to be able to do some custom things, would it be possible to expose the Query object.
It's also a bit misleading to have the Query object type available in TypeScript but not be able to export it.
Maybe I could create a pull request for that.

Thanks.

[2018-01-16 03:12] sudo-suhas commented on #39
Hey @ericmackrodt, could you tell a little bit more about how you wish to extend it? I don't see any issue with exporting the `Query` class. I did not do so earlier because I didn't think it would be useful for anybody using the library. It has the bare minimum API common across most query types.

If my memory serves me right, I couldn't figure out how to _not_ export it while still using the `ext

[2018-01-18 03:47] ericmackrodt commented on #39
Hi @sudo-suhas,

Thanks for getting back to me.

Yes, I have `filtered` and `missing` queries in my use cases and I didn't find it in the default api, so I had to extend it.

I'll be creating a pull request soon with my changes so you can review.
Let me know if there are any guidelines I should follow for the pull request.

Thanks!

[2018-01-18 04:03] sudo-suhas commented on #39
Both the `filtered` and the `missing` query were deprecated in `2.0` and later removed in the `5.0` release of elasticsearch - https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_search_changes.html#_deprecated_queries_removed.

However, both the queries can be achieved using other queries. See https://www.elastic.co/guide/en/elasticsearch/reference/5.0/query-dsl-exists-query.h

[2018-01-18 04:43] ericmackrodt commented on #39
Oh, I see.
I think I might be using an older version of ES, but I'll try with the recipes.
Thanks!

[2018-01-18 04:48] sudo-suhas commented on #39
If you are using an older version of elasticsearch, `elastic.js` should work correctly for building the queries. See [sudo-suhas/elastic-builder#elasticsearch-compatibility](https://github.com/sudo-suhas/elastic-builder#elasticsearch-compatibility).

[2018-01-18 04:48] #39 closed

[2018-01-20 03:07] bigman73 commented on #33
Please add support for this feature

[2018-01-20 03:18] sudo-suhas commented on #33
Hey @bigman73, I might work on this but I cannot do the changes at least for a week. Would it be possible for you to work on this? I would be glad to provide any support you might need to do the change.

[2018-01-20 04:05] bigman73 commented on #33
Sorry, I do not know your module and have no time to learn it right now
For now I am using the official elastic search JS module as it supports all the latest features, in particular msearch

[2018-01-30 11:24] virus2016 opened #42 "Chaining doesn't work as expected"
Hi there,

I am currently using bodybuilder and found this builder. It looks great and we want to switch over. However, we have run into some issues just now. Can you have a look at below:

We are looking to get the following:

[code]

Here is the bodybuilder to make that happen:

[code]

We are trying to do the same using https://elastic-builder.js.org/

[code]

Produces:

[code]

I'm sure I'm ju

[2018-01-30 11:31] sudo-suhas commented on #42
You would need to use a [`BoolQuery`](https://elastic-builder.js.org/docs/#boolquery). Here you go:

[code]

[2018-01-30 11:31] #42 closed

[2018-01-30 11:34] virus2016 commented on #42
Thanks! It would be great to add this to the documentation

[2018-02-22 11:24] tahergalal opened #47 "composite aggregations"
is there a possiblity to build composite aggregations, if not is there a possibility to append available json as an input to a query or an aggregate

[2018-02-22 11:26] sudo-suhas commented on #47
Could you please elaborate with an example? If there is a particular example in the Elasticsearch reference guide, please share that.

[2018-02-22 11:27] tahergalal commented on #47
https://www.elastic.co/guide/en/elasticsearch/reference/6.1/search-aggregations-bucket-composite-aggregation.html

It would be suffecient if we can add something like source which takes a json object

[2018-02-22 11:30] sudo-suhas commented on #47
This was added recently from what I can tell. As of now, this has not been implemented by `elastic-builder`. I might be able to work on this sometime this week but I cannot make any guarantees. If anybody is interested in making a PR for it, that would be very welcome!

[2018-02-27 07:48] lvandyk opened #49 "How can I run aggregations on only the filtered data?"
I use a filtered query to get my desired documents, but when I add an aggregation, the aggregation includes other bucket with 0 documents.

Is it possible to 'apply' the aggregation only on the result of the filtered data?

[2018-02-27 09:00] sudo-suhas commented on #49
I think you are looking for ["Filter Aggregation"](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-filter-aggregation.html). Link to `elastic-builder` docs which includes examples - https://elastic-builder.js.org/docs/#filteraggregation.

Please let me know if that answers your question correctly.

[2018-02-27 09:17] lvandyk commented on #49
Hi Sudo, thanks for the quick reply. I am trying to use the FiltersAggregation but struggling a bit.

Running this:
[code]

Will give back buckets for ALL `vehicle_id` in my index with count of `0` except `1, 2, 3, 4 & 5` with correct bucket counts. I want the buckets returned to *only* be `1, 2, 3, 4 & 5`. So I tried this:

[code]

But this still doesn't work. Your help would be greatly appreciat

[2018-02-27 09:35] sudo-suhas commented on #49
Filter Aggregation is quite different from Filters Aggregation.

I can help you with `elastic-builder` specific syntax but it would be better if you made yourself familiar with elasticsearch first.

See if this does what you are looking for:

[code]

[2018-02-27 09:45] lvandyk commented on #49
Ok I see there is a big difference. Using your method fixes everything and works perfectly! Thank you very much!

[2018-02-27 09:45] #49 closed

[2018-02-28 10:20] Maroon1 opened #50 "Please make it immutable or clonale"
eg:
[code]

[2018-03-01 02:55] sudo-suhas commented on #50
At this point, making it immutable is not feasible. But there are a couple of easy work arounds:

#### Factory fn:

[code]

#### Deep clone

Use either [`lodash.clonedeep`](https://www.npmjs.com/package/lodash.clonedeep) or [`clone`](https://www.npmjs.com/package/clone) to clone the objects. See https://runkit.com/5992a563f4b57a0012c63827/5a976b4add0d500012e270ac for a demo.

[2018-03-01 02:55] #50 closed

[2018-03-09 03:54] narthollis opened #52 "Consider adding browsers with at least 1% to .babelrc"
I really enjoy working with elastic-builder to develop queries, and have we use it quite heavily in our web apps.

I do however need to support a number of browsers that do not currently support a number of "modern" ES features, such as template strings. This means that I am currently unable to use elastic-builder as the `node>=4` babel env is outputting code that can not be consumed.

I was hopin

[2018-03-09 04:06] sudo-suhas commented on #52
This came up in #45 as well. I am reconsidering whether to accept that PR to accommodate users wanting to use it in the browser. On the other hand, I feel it is not advisable to ship ~35KB of gzipped JS to the client.

[2018-03-09 04:28] narthollis commented on #52
Ah, I see. Fair enough - valid reasoning.

Given the bundle sizes in the apps I am working on 35KB is an easy trade off for the ease of readability and improved ability for devs to quickly write elastic queries.

[code]

[2018-03-09 04:36] sudo-suhas commented on #52
Hold off on that. Since this is a common use-case, this is what I am thinking of doing. Do not use transpiled source for tests and the default export. This simplifies a lot of things in terms of the repo build steps etc. But at the same time, use babel for a transpiled copy which could be accessible via `require('elastic-builder/t')`

[2018-03-11 20:39] richardwhatever opened #53 "How do I create a sort on multiple fields?"
Hi, sorry, i'm failing to be able to sort on multiple fields? Is this an oversight in the component, or am I missing something?

Many thanks.

[2018-03-12 03:05] sudo-suhas commented on #53
Hey @richardwhatever, could you clarify what you mean by 'failing to be able to sort on multiple fields'? If you are asking about syntax for specifying sort on multiple fields, examples are present in the readme as well as the API documentation.

**Example from the readme:**

[code]

**API documentation**: https://elastic-builder.js.org/docs/#requestbodysearchsorts

If you mean that after specifyi

[2018-03-12 06:25] richardwhatever commented on #53
Apologies, i searched both the tests and the documentation but failed to find "sorts". When you do a filter on the docs webspage for sort it only brings up the singular sort method which was were my mistake began. Thanks for taking the time to answer. This project has been  so very helpful. Regards, Richard.

[2018-03-12 06:25] #53 closed

[2018-03-21 16:33] josh-degraw commented on #52
Are there any updates on this issue? I've just been running into the exact same problem.

[2018-03-22 03:01] sudo-suhas commented on #52
Since multiple users are making this change request, I would be happy to accept a PR which updates the `.babelrc`. Ideally this should have been sorted out in #45. Otherwise, I will try to dedicate some time next week to do the required changes.

[2018-03-25 03:26] #52 closed

[2018-05-03 01:12] RangarajKaushikSundar opened #56 "Create a scroll query"
I wish to build this query-

[code]

I was able to do the query but not the slice
[code]

[2018-05-03 11:58] sudo-suhas commented on #56
The is how you could do it:
[code]

I am thinking that we shouldn't add support for the `slice` parameter on `requestBodySearch`. The rationale being that if you are making a scroll query, modifying the request body is not enough. The `scroll` parameter needs to be sent as a query parameter([reference link](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html#

[2018-05-03 18:34] RangarajKaushikSundar commented on #56
Thanks!

[2018-05-03 18:34] #56 closed

[2018-05-06 02:34] RangarajKaushikSundar commented on #56
@sudo-suhas I agree that it is much cleaner to send the `scroll_id` in the query rather than the body. I am using the `slice` `id` to read the next scroll.

**Reason**- I have to wait until the completion of each scroll search to get the `scroll_id` for the next page.  So I make a count request, find the `total` slices from the `# of records`/ `records per each slice` and make all the scroll reque

[2018-05-17 11:26] greenkeeper[bot] opened #57 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/sudo-suhas/elastic-builder/compare/master...sudo-suhas:greenkeeper%2Fupdat

[2018-06-18 06:02] #47 closed

[2018-06-18 06:06] sudo-suhas commented on #47
I know this was late but this feature has been implemented and released in [`v1.3.0`](https://github.com/sudo-suhas/elastic-builder/releases/tag/v1.3.0).

[2018-07-17 22:54] ilionic opened #61 "Query builder issues"
Looks like https://elastic-builder.js.org/#filterquery isn't loading example and textareas not editable.

[2018-07-23 13:03] sudo-suhas commented on #61
Hey @ilionic thanks for reporting this. And apologies for the delay in my response. I checked the notification on my mobile but later forgot about it. I am checking this now.

[2018-07-23 13:10] sudo-suhas commented on #61
Oddly enough, it works correctly on mobile(which I vaguely remember). This is due to a mime type issue when the website tries to load some scripts from unpkg.

[2018-07-23 13:52] sudo-suhas commented on #61
Closing as the issue is fixed. Let me know if you are still facing the issue.

[2018-07-23 13:52] #61 closed

[2018-07-29 13:29] codeskills-nl opened #62 "functionScoreQuery generates an invalid query"
It doesn't work with a WeightScoreFunction with a filter, for example:
        .functions([
          esb
            .weightScoreFunction()
            .filter(builder.matchQuery('test', 'bar'))
            .weight(23)
        ])
In this case you'll get the error: 'no [query] registered for [filter]'

When you just use de functions with an array (even when it's empty) it will work.
So please remo

[2018-07-29 13:32] #62 closed

[2018-07-30 03:15] #38 closed

[2018-07-30 03:21] sudo-suhas commented on #38
Fixed and [released in `v2.0.1`](https://github.com/sudo-suhas/elastic-builder/releases/tag/v2.0.1).

[2018-08-02 04:48] #57 closed

[2018-08-05 09:51] renehauck opened #63 "Prefix key"
Hi,

first, thank you for your work :+1:
Now a little feature request. Since elasticearch 6, you can only create one mapping type per index.
[https://www.elastic.co/guide/en/elasticsearch/reference/6.x/removal-of-types.html](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/removal-of-types.html)
For this reason, I changed my old types "user" and "tweet" in my mapping to this:

[code]
Is

[2018-08-06 03:15] sudo-suhas commented on #63
I don't think this is feasible. The property set on request body search would need to manipulate the conversion to JSON of child objects like the `MatchQuery`. Moreover, this would also restrict the queries to one particular pseudo type. I think it would be simpler and clearer to just do this:

[code]

[2018-08-06 13:51] renehauck commented on #63
ok :relaxed:

[2018-08-06 13:51] #63 closed

[2018-09-30 20:39] vijay-alphonso opened #72 "Deprecated field [inline] used, expected [source] instead"
For script type, source needs to be added as a type?

            "script": {
              "inline": "_score"
            }

will result in:
#! Deprecation: Deprecated field [inline] used, expected [source] instead

[2018-10-01 03:36] sudo-suhas commented on #72
There were breaking changes made to the script syntax as part of [elasticsearch 5.0](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/breaking_50_scripting.html) but this library does not handle it yet. But as you suggest, we could add `source` as an alias for the `inline` type with clear documentation calling out their compatibility. And similarly for `stored => id`.

[2018-10-01 04:45] sudo-suhas commented on #72
Closed via 0ff9f999 and released in [`v2.1.1`](https://github.com/sudo-suhas/elastic-builder/releases/tag/v2.1.1) :tada:

[2018-10-01 04:45] #72 closed

[2018-10-08 14:45] bradeac opened #74 "Possible bug found when passing a query as a parameter into esb.requestBodySearch().query(...)"
Hi,

I'm doing a proof of concept using ElasticSearch, so it's worth noting that this is my first interaction both with ElasticSearch and elastic-builder.

I went through the docs and found the following example:
[code]

This, unfortunately, throws an error:
[code]

I think the problem is that in the body, there's a 'query' property, which also has a 'query' property inside of it.

Actually, my us

[2018-10-09 03:40] sudo-suhas commented on #74
@bradeac Could you share the code used to pass the request body to the elasticsearch library? You can refer to https://github.com/sudo-suhas/elastic-builder#examples for examples.

[2018-10-09 07:15] bradeac commented on #74
@sudo-suhas sure. Here it is:

[code]

And the variable query:
[code]

Thanks a lot !

[2018-10-09 07:29] sudo-suhas commented on #74
This is the correct usage:

[code]

Unfortunately the terminology for elasticsearch search requests is a little confusing. A search request can have a query, aggregations and other parameters like the ones you used. This request body is what you need to pass directly to the `body` field in the `search` call.

[2018-10-09 07:29] #74 closed

[2018-10-09 07:36] bradeac commented on #74
Oh, so that was it. When I was doing just the boolQuery, the body: { query: query.toJSON() } worked.

Good to know and also probably good info for others which will face this problem.

Thanks for the explanation and for building elastic-builder 👍

[2018-10-09 07:39] sudo-suhas commented on #74
In the examples section, which I had linked to above, the very first example shows how the library is to be used in conjunction with the official elasticsearch client library. So I think we are covered w.r.t usage documentation.

[2018-11-19 06:48] seohyun0120 opened #77 "Sort/ script: Instance Member"
Hi! I found out some problem using esb.sort()

According to the document (https://elastic-builder.js.org/docs/#sort), it says that esb.sort needs **field as essential and order as optional**. It works fine for specific field. But there is a problem when I use script instance member.

[code]
I needed to custom my field value, so I used script instance member. But **the third line** gives me an erro

[2018-11-19 06:58] sudo-suhas commented on #77
Correct me if I wrong, from what I can tell, the resolution for this problem is to annotate the `field` option to the `esb.sort` method as optional. The issue is not with the actual code but the jsdoc and typings.

[2018-11-19 07:07] seohyun0120 commented on #77
Great! I just checked the comments you left on pull-request.
Thank you for the reply!

[2018-11-19 07:07] #77 closed

[2018-11-19 07:09] sudo-suhas commented on #77
For reference in the future, closed by #78.

[2018-12-21 13:05] Senthilkumar-Fullstack opened #81 "Date is converting to date -1 when we use request.toJSON()"
Hi,
I use material2 datepicker from which I pass the date value to construct elastic search query and I get date value less than one day when I use .toJSON() method. Kindly anyone help me resolve this issue.

[2018-12-22 01:42] sudo-suhas commented on #81
I am not sure how I can help you with this. Can you share some code example? I have not used the component you mentioned.

[2019-01-23 16:32] demisx opened #82 "Future roadmap"
Hi. Can you please share your future vision for this module? Are you planning on actively supporting it? Is it going to be compatible with latest ES stable release? Thank you.

[2019-01-25 03:03] sudo-suhas commented on #81
Closing as there is not response from the OP.

[2019-01-25 03:03] #81 closed

[2019-01-25 03:32] sudo-suhas commented on #82
Hi @demisx. I am not actively using the module as of right now. And I have not been tracking developments and releases in elasticsearch. However, I definitely do not want to abandon the module like `elastic.js`. For doing the changes for supporting the latest version of elasticsearch, I am not sure how I should handle compatibility with older elasticsearch versions. Meaning, if I release a new ver

[2019-01-25 14:52] #82 closed, assigned to nobody

[2019-01-26 05:05] sudo-suhas commented on #82
When I first tried to build something with elasticsearch in node.js, `elastic.js` was the popular solution and, to me, the API mirrored the elasticsearch DSL in a good intuitive way. At this point,
`bodybuilder` was limited in scope. Unfortunately, almost immediately after, the documentation for `elastic.js` went down and I was forced to go through the source code to be able to figure out how to b

[2019-03-05 20:27] austince opened #85 "termsQuery throws error when checking type of terms"
node version: v8.11.3
esb version: 2.2.2

When using the [`termsQuery`](https://elastic-builder.js.org/docs/#termsquery) it incorrectly checks the terms type.

In the REPL:
[code]

[2019-03-06 05:40] sudo-suhas commented on #85
@austince Thanks for reporting this. I have verified that this is an issue which only affects the REPL. The module works correctly when you require it inside node REPL:
[code]

I will check and correct this soon.

[2019-03-06 15:01] austince commented on #85
Thanks @sudo-suhas! Yes, just using the node REPL is not a huge problem.

[2019-03-11 17:13] austince opened #86 "Support Multiple Documents in Percolate Queries"
Would you accept a PR that added functionality for percolating many documents? https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-percolate-query.html

And if so, how would you see the interop with `PercolateQuery#document`?

[code]

[2019-03-13 03:30] sudo-suhas commented on #86
Hi @austince, a PR would be more than welcome. I think it would make sense to merge with existing docs if and when both `document` and `documents` are called on a percolate query instance. See  [/src/queries/full-text-queries/multi-match-query.js@`df07e59`#L63-L98](https://github.com/sudo-suhas/elastic-builder/blob/df07e5918c9673e47338569aaa96c6188498da9a/src/queries/full-text-queries/multi-match-

[2019-03-14 03:10] #86 closed

[2019-04-18 10:32] greysteil opened #88 "URLs in release notes are broken"
Looks like all of the URLs in your release notes are broken - see https://github.com/sudo-suhas/elastic-builder/releases and any of the URLs under `Features` for v2.3.0.

[2019-04-18 11:04] sudo-suhas commented on #88
Thanks for bringing this to my attention. Release notes are auto generated by `semantic-release`. For some reason, the links are of the form `http://git+https/github.com/sudo-suhas/elastic-builder` which obviously does not work. I have updated and fixed this for existing releases. Will investigate and fix the issue, probably need to update `semantic-release`.

[2019-04-18 11:06] greysteil commented on #88
Awesome, figured it was probably a rogue automation. Thanks for looking into it! ❤️

[2019-05-12 16:10] lostpebble opened #89 "Types for geo shape query coordinates seem to be incorrect"
I'm getting a type error while trying to create a geo shape query like so:

[code]

The error is showing up over the parameters passed to `coordinates()`:
[code]

So I think there is a problem, and the correct type is an _array of_ `number[]` - so `number[][]`.

[2019-05-13 03:50] sudo-suhas commented on #89
It was an issue with the type declaration. Fixed in [`v2.3.1`](https://github.com/sudo-suhas/elastic-builder/releases/tag/v2.3.1) 🎉

[2019-05-13 09:44] lostpebble commented on #89
Great! Can see it is working fine now after updating.

[2019-05-13 09:44] #89 closed

[2019-05-22 12:19] KamyarGhajar opened #90 "Pre-registered queries"
How can I generate a mustache pre-registered query defined in the following section:

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-template.html#pre-registered-templates

[2019-05-23 03:37] sudo-suhas commented on #90
See https://elastic-builder.js.org/docs/#searchtemplate. An example:
[code]

Hope that answers your question. I am closing the issue but feel free to continue the discussion.

[2019-05-23 03:37] #90 closed

[2019-05-23 06:49] KamyarGhajar commented on #90
Thank you but no, this is not what I want to do. I need to register the template as mentioned in the link I have provided not to call the template with parameters.

[2019-05-24 04:00] sudo-suhas commented on #90
I suppose you could use `esb.script()`:

[code]

You could use this and `POST` it by setting it as the `script` field value. But this isn't something `elastic-builder` aims to supports so your mileage may vary.

[2019-05-24 07:53] KamyarGhajar commented on #90
Oh, so elastic-builder is not supposed to handle these kinds of queries like indexing, aliasing or so.
It would be a great improvement for elastic-builder to support all the elastic requests' bodies not only queries. Well thank you @sudo-suhas

[2019-06-24 07:21] dkswjdals89 opened #92 "BoolQuery should function does not work"
When I use the Should function of the BoolQuery, the following error occurs

[code]

Use Code
[code]

[2019-06-24 09:00] sudo-suhas commented on #92
Could you share more details on your env? I am not able to reproduce the error with the following:
[code]
Output:
[code]
You can test this here - https://elastic-builder.js.org/.

Since the error is not being reproduced with a clean env, I can only guess that it has to with the way `elastic-builder` is being used in your project.

[2019-06-24 10:18] dkswjdals89 commented on #92
I'm sorry. I checked and there's no error running the actual code.
But strangely, my test code will cause errors.

When I check some things, if I use the should.js library, an error occurs.
should.js is one of the assertion libraries.

Maybe it was caused by an impact on the should.js library.

I registered the issue because of an error in the test code I wrote, but I didn't think it would be beca

[2019-06-24 10:18] #92 closed

[2019-06-25 03:31] sudo-suhas commented on #92
I can't find any relevant blog post regarding this but I recall having read somewhere that `should.js` does something unexpected for methods named `should`. Thanks for responding and closing the issue.

[2019-08-05 14:46] lostpebble opened #95 "track_total_hits not implemented"
https://www.elastic.co/guide/en/elasticsearch/reference/7.3/search-request-body.html#request-body-search-track-total-hits

There is a new ability to disable the tracking of total hits when running search. This improves performance loads in certain situations.

I have noticed that I'm not able to set this when using `elastic-builder` and creating a request body search.

[2019-08-05 14:53] sudo-suhas commented on #95
I'll take a look at this tomorrow. Most probably this was a feature added in a recent release of elasticsearch. I'll also try to add support for it in this week. A pull request for the same would be more than welcome.

[2019-08-05 16:54] lostpebble commented on #95
@sudo-suhas made a pull request and tested out in my project - all seems to be working as expected.

[2019-08-06 07:45] #95 closed

[2019-08-07 10:54] greenkeeper[bot] opened #97 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.5` to `3.0.6`.

🚨 [View failing branch](https://github.com/sudo-suhas/elastic-builder/compare/master...sudo-suhas:greenkeeper%2Fcoveralls-3.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency

[2019-08-27 18:36] gaui opened #99 "Convert query objects to query string"
Is it possible to convert query objects to query string? Like the following object...

[code]

[2019-08-28 00:24] sudo-suhas commented on #99
Do you mean elasticsearch [query string query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html)?

[2019-08-28 00:26] sudo-suhas commented on #99
It's not supported if that's what you are asking.

[2019-08-28 01:17] gaui commented on #99
Ok thank you for the answer. Do you know if Lucene Java SDK supports these objects?

[2019-08-28 01:49] sudo-suhas commented on #99
Could you clarify? It's not clear what you mean.

[2019-08-28 01:49] #99 closed

[2019-09-08 12:56] sunweiconfidence opened #101 "whether support elasticsearch6.8 version to query?"
i want to know whether this builder can support elasticsearch6.8 to query,aggregate and sort the keyword? thanks, btw, whether have plan to support elasticsearch7.x?

[2019-09-11 03:09] sudo-suhas commented on #101
Can you be a bit specific w.r.t the query that you are trying to build and run on Elasticsearch?

Regarding support of newer Elasticsearch versions, I have not been keeping track of the changes introduced. I _do_ intend to do the necessary changes but I can't be sure as to when I'd be able to do it. If there are _specific_ changes requested, I'll try to resolve it sooner rather than later.

[2019-09-17 13:39] sunweiconfidence commented on #101
i have tried, it works for normal match or exist field query for elasticsearch6.8.0, thanks

[2019-09-27 08:06] sunweiconfidence opened #103 "whether support range date query in elasticsearch6.8.0 ?"
hi,
    i want to query with range date, like below example:
[code]

i use below elastic-builder js clause,

[code]

but meet with below exception:

[code]

i want to know how do let me support this range date query, or not support it? thanks

_edit: formatting_

[2019-09-27 08:30] sudo-suhas commented on #103
The error is returned by Elasticsearch because it is not able to parse the data string present in your query. Since range query supports specifying the format, the request body that you shared can be generated like so:

[code]

In the future, please check out the docs since all the methods are documented - https://elastic-builder.js.org/docs/#rangequeryformat

[2019-09-27 08:30] #103 closed

[2019-09-27 09:08] sunweiconfidence commented on #103
ok, thanks, i have collected the document

[2019-10-21 08:36] franz-josef-kaiser opened #104 "Add arbitrary key/ value pairs to request body"
## Szenario

For a provider specific implementation, we need to add some additional arbitrary key/ value pairs to a `esb.requestBodySearch()` object.

### Example

[code]

The only "solution" we could come up so far (we are not using TypeScript) is to convert the requestBody to JSON and extending the object itself. We really dislike this approach as we want to pass around esb objects, rather than

[2019-10-21 10:01] sudo-suhas commented on #104
@franz-josef-kaiser I understand and am open to a PR which introduces the functionality. But the next question is whether all classes defined in `elastic-builder` should support arbitrary fields.

[2019-10-27 13:00] sudo-suhas commented on #104
@franz-josef-kaiser Here's a simple way to solve your problem(extend the class):

[code]

[2019-10-27 13:00] #104 closed

[2019-11-15 23:04] franz-josef-kaiser commented on #104
@sudo-suhas I completely missed your answer while I had a deep dive into another project. Will give this a test run soon and leave some feedback here. Thanks a lot!

[2019-12-19 07:12] mohak-cf opened #106 "Support for multi nested paths and filters in sorts"
Elasticsearch provides a way to have multiple nested paths in a sort field, documentation example -
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-sort.html#_nested_sorting_examples

ElasticBuilder only supports adding a path and a filter in the nested query for sort, i.e
nested(nested: { path: string, filter: Query }): this;
There should also be support for adding anot

[2019-12-19 09:45] sudo-suhas commented on #106
There is no hard restriction against setting an object with another nested object. If you are using Typescript, you can add an ignore directive for the same(`// @ts-ignore`). I will incorporate this suggestion for the next package release.

[2020-01-11 03:03] #101 closed

[2020-02-09 09:45] lostpebble opened #109 "Multi-match search missing bool_prefix type"
As you can see with the new `search_as_you_type` field type, the recommended way to query such fields is with a Multi-match with a `bool_prefix` type (https://www.elastic.co/guide/en/elasticsearch/reference/current/search-as-you-type.html):

[code]

Unfortunately `elastic-builder` complains if we try and use that though:

[code]

So, this new multi-match type needs to be added in as an option in t

[2020-02-10 11:12] #109 closed

[2020-02-23 08:55] #97 closed

[2020-02-28 15:29] ronyrun opened #111 "Sort issue on Bucketsort Agg"
Hello !

The example :

`const reqBody = esb.requestBodySearch()
    .agg(
        esb.bucketSortAggregation('sort')
            **.sort([
                 esb.sort('user', 'desc')
             ])**
             .from(5)
             .size(10)
        )
    );`

is Wrong.

the result create a sort like :

 "sort": [
 {
      "user": "desc"
  }
  ],

What is needed in Elastic Doc : https://www.elas

[2020-02-29 02:30] sudo-suhas commented on #111
My understanding is that `{"order": "desc"}` is a short-hand for `{"user": {"order": "desc"}}` based on this - https://www.elastic.co/guide/en/elasticsearch/reference/master/search-request-body.html#request-body-search-sort

Have you tried to execute a query with the short-hand and does it not work?

[2020-05-04 08:29] elishas opened #113 "dateHistogramAggregation is getting a warning that the interval is deprecated"
dateHistogramAggregation is getting a warning that the interval is deprecated:

[2020-05-16 05:21] chioarub opened #114 "TermsAggreagation showTermDocCountError parameter of type object instead of boolean"
Expected:
When building a TermsAggregation, we are able to add showTermDocCountError with a value of true/false to enable/disable the field in the results.
Actual:
When building a TermsAggregation, we are NOT able to add showTermDocCountError with a value of true/false to enable/disable the field, because the parameter is of type object.

[2020-05-16 05:50] sudo-suhas commented on #114
I don't understand what you mean @chioarub. I was able to try this out in the [playground](https://elastic-builder.js.org/) and it works as expected:

[code]

**Output**:
[code]

[2020-05-16 05:51] sudo-suhas commented on #113
We could deprecate the current `interval` field and add support for `fixedInterval/calendarInterval`. Removing the `interval` would be a breaking change and I'd prefer not to do that. @elishas would be interested in submitting a PR with these changes?

[2020-05-16 05:52] sudo-suhas commented on #111
Closing due to inactivity.

[2020-05-16 05:52] #111 closed

[2020-05-16 06:14] chioarub commented on #114
/**
     * A multi-bucket value source based aggregation where buckets are dynamically
     * built - one per unique value.
     *
     * @param {string} name The name which will be used to refer to this aggregation.
     * @param {string=} field The field to aggregate on
     * @extends TermsAggregationBase
     */
    export class TermsAggregation extends TermsAggregationBase {
        construct

[2020-05-16 06:15] sudo-suhas commented on #114
I understand, thanks for pointing that out. Would be interested in creating a PR with this fix for type definition?

[2020-05-16 06:16] chioarub commented on #114
Sure thing, will do.

[2020-05-24 14:11] elishas commented on #113
It would be great if you could do that. I don't have for the moment time to work on a PR

[2020-05-24 14:41] elishas opened #115 "Couldn't find auto_date_histogram."
I need an auto_date_histogram and I couldn't find it.

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-autodatehistogram-aggregation.html

[2020-05-24 15:13] sudo-suhas commented on #113
Another easier way could be to extend the implementation to add the new functionality in your application code.

I can try to find some time during the next weekend.

[2020-05-24 15:15] sudo-suhas commented on #115
Not supported currently.

[2020-05-29 18:06] mehul-alphonso opened #116 "TypeError: Argument must be an instance of Query"
I've a bool query which looks like the following -
[code]
Now, i'm creating a query using this -
[code]

I'm seeing following error -
[code]
So, it's failing while asserting the type to be `Query`
Now, what I did was that I commented out the code in `util.js` inside `checkType`

[code]

then everything works just fine. `package.json` has the following entry for elastic builder - `"elastic-builder"

[2020-05-31 06:49] sudo-suhas commented on #116
@mehul-alphonso could you share a code snippet to reproduce this issue?

The default example in the [playground](https://elastic-builder.js.org/) uses a `requestBodySearch` with `boolQuery` and it works correctly:
[code]

[2020-06-01 10:31] mehul-alphonso commented on #116
It seems that somehow the type of the object is changed and the type is not `BoolQuery` anymore. It became `object` somehow. I think this is not an issue in the `elastic-builder` module.
But should it not try to cast it to BoolQuery?

[2020-06-07 15:28] sudo-suhas commented on #116
I don't think 'casting' is supported in javascript for this use-case (limited to `Boolean`, `String` etc).

Could you try to debug your source code and identify where the type is being changed to `object`? I can try to suggest a solution or do some change in `elastic-builder` if you can provide a code snippet which can reproduce the issue.

[2020-06-07 15:28] #116 closed

[2020-06-22 13:10] Hypopheralcus opened #118 "Sort.toJSON() wrong format!?"
let sortField = new Sort('MyFieldToSort', 'desc');

sortField.toJSON()

Result:
{ MyFieldToSort: 'desc' }

Expected result:
{ "MyFieldToSort": { "order": "desc" } }

[2020-06-22 13:50] sudo-suhas commented on #118
No, that is correct. See https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#request-body-search-sort

[2020-06-22 13:51] #118 closed

[2020-06-22 14:04] Hypopheralcus commented on #118
Okay thanks. So this is a Bug in the Elasticsearch.Net/NEST Client. Because the generated Syntax forces the RequestResponseSerializer.Deserialize<SearchRequest>() to fail with the message: "Character: { expected."  If I change the JSON from ESB the Deserialize works.

[2020-06-24 18:33] yingqiaoshop opened #119 "support offset field in DateHistogramValuesSource"
We are using this library now. One thing is that the offset field is supported in elasticsearch v7. Is it possible to support this field in this library?

[2020-06-27 04:20] sudo-suhas commented on #119
@yingqiaoshop a PR would be more than welcome. Changes would need to be done in the following:
- https://github.com/sudo-suhas/elastic-builder/blob/v2.6.1/src/aggregations/bucket-aggregations/composite-agg-values-sources/date-histogram-values-source.js#L30
- https://github.com/sudo-suhas/elastic-builder/blob/v2.6.1/test/aggregations-test/composite-agg-values-sources-test/date-histogram-values-sour

[2020-06-27 12:03] argl commented on #115
I have opnened a PR for this #120

[2020-06-30 06:42] russcam commented on #118
NEST now supports deserializing the short forms of sort in 7.8.1 (https://github.com/elastic/elasticsearch-net/pull/4806).

Historically, NEST has generally only supported serializing and deserializing the long form of sort/queries/etc., but in more recent versions, support for deserializing short forms has been added where it is missing (serialization will still use the long form). So, if you com

[2020-07-04 13:40] sudo-suhas commented on #115
Closed via #120. Changes have been released in [`elastic-builder@v2.7.0`](https://github.com/sudo-suhas/elastic-builder/releases/tag/v2.7.0). See https://elastic-builder.js.org/docs/#autodatehistogramaggregation.

[2020-07-04 13:40] #115 closed

[2020-07-12 05:44] sudo-suhas commented on #114
Fixed via fc0fa8f and released in [`elastic-builder@v2.7.1`](https://github.com/sudo-suhas/elastic-builder/releases/tag/v2.7.1).

[2020-07-12 05:44] #114 closed

[2020-07-28 14:46] ThomasKruegl opened #122 "declaration file declares too much"
Hi,

The index.d.ts file has several classes without "export" in front of it, e.g. Query. From my understanding, for an ambient (=declared) namespace, typescript implicitly treats all members as exported. This is wrong in this case, because index.js does not export Query.

This led to an error when trying to import Query and using it with "x instanceof Query". Typescript does not complain because

[2020-07-29 01:30] sudo-suhas commented on #122
A PR for that change is welcome

[2020-11-30 10:19] spenoir commented on #106
I think this issue is related to an issue I've noticed with `esb.RequestBodySearch.sort` only allowing to sort on one field when it's actually possible to sort on multiple fields.

[2020-12-06 06:10] sudo-suhas commented on #113
Closed via #126.

[2020-12-10 00:10] rccoe opened #128 "Support for Parent Aggregation"
Would love to see support for this aggregation:

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-parent-aggregation.html

`childrenAggregation` works, but no support for parent yet.

[2021-01-04 15:47] arnaud-cortisse opened #132 "DateHistogramValuesSource.interval should be calendarInterval"
I see that the class DateHistogramValuesSource exposes "interval". However, I think it should be "calendarInterval" (see https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html#_date_histogram).

[2021-01-04 16:46] arnaud-cortisse commented on #132
To be more accurate, it's about to be deprecated:
`#! Deprecation: [interval] on [date_histogram] is deprecated, use [fixed_interval] or [calendar_interval] in the future.`

[2021-01-05 06:33] sudo-suhas commented on #132
These were addressed via #126. We have not removed `interval` method as that would be a breaking change.

[2021-01-05 07:53] arnaud-cortisse commented on #132
@sudo-suhas #126 is about DateHistogram**Aggregation**, not DateHistogram**ValuesSource**. Am I missing something?

[2021-01-06 06:27] sudo-suhas commented on #132
Apologies @arnaud-cortisse, I should have read more carefully. A PR similar to #126 which adds the relevant methods to  `DateHistogramValuesSource` would be more than welcome.

[2021-01-31 09:22] Metheny80 opened #134 "QueryStringQuery.escape() implementation not working / not clear"
When setting QueryStringQuery.escape() to 'true', it seems the implementation simply adds "escape": "true" to the ES request,
According to the ES query string query documentation, there is no such parameter, and it's the client's responsibility to escape the query string.
Can you please shed some light about the usage of this parameter?

[2021-02-01 04:44] sudo-suhas commented on #134
Elasticsearch documentation is not thorough. `escape` is a supported boolean field as per the Elasticsearch source - https://github.com/elastic/elasticsearch/blob/v7.10.2/server/src/main/java/org/elasticsearch/index/query/QueryStringQueryBuilder.java#L82. I don't have more information w.r.t purpose and usage of this field though.

[2021-02-01 04:44] #134 closed

[2021-02-18 11:43] daniegarcia254 opened #135 "Cumulative cardinality aggregation"
As well as we have the pipeline aggregation for [CumulativeSumAggregation](https://elastic-builder.js.org/docs/#cumulativesumaggregation), ¿could it be possible to add the same for the new [Cumulative cardinality aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/search-aggregations-pipeline-cumulative-cardinality-aggregation.html)?

It would be very interesting and useful, a

[2021-02-20 12:15] sudo-suhas commented on #135
Is my understanding correct that this aggregation is only available with the paid Elasticsearch X-Pack license?

Regardless, a PR for the same would be welcome. But we should call out the X-Pack requirement as well as the Elasticsearch version that it was added in.

[2021-02-23 20:27] uncledru opened #137 "Support for case-insensitive parameter in wildcard query"
Add support for the `case_insensitive` [parameter ](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-wildcard-query.html#wildcard-query-field-params) of the `wildcard` query.

I can open a PR to add this parameter if you agree.

Edit: this is supported in elasticsearch versions >= 7.10.

[2021-02-27 12:47] sudo-suhas commented on #137
A PR would be more than welcome @uncledru 😄

Let's just call out in the documentation regarding the supported Elasticsearch version.

[2021-03-12 21:50] Guidanz-Kishore opened #139 "Way to build query based on the meta data of data table visualization in kibana??"
Hi. I have a data table visualization in kibana. I am trying to build the exact query which I see in inspect section using the meta data of the visualization. While using elastic-builder library, I am not able to use the nested aggregation functions properly as expected. Is there a way to build the query efficiently by providing the meta data of the chart that will contain all the information for

[2021-03-13 15:17] sudo-suhas commented on #139
Please elaborate.

Although I don't understand the question 100%, I am fairly sure the answer to this is 'No'.

[2021-03-13 15:30] Guidanz-Kishore commented on #139
I have a data table in Kibana that has 5 buckets where each bucket has "terms" as aggregation type. The query for this particular chart in Kibana will contain nested aggregation, each bucket will be nested in its previous aggs object. The query will look like this.
 "aggs": {
    "2": {
      "terms": {
        "field": "order_date",
        "order": {
          "_key": "desc"
        },
        "

[2021-03-14 02:44] sudo-suhas commented on #139
Here you go:

[code]

In the future, please try to read the examples and understand how to use the library for constructing Elasticsearch queries.

[2021-03-14 02:44] #139 closed

[2021-03-14 08:12] Guidanz-Kishore commented on #139
Thank you very much.

[2021-04-20 16:34] Mati365 commented on #85
@sudo-suhas problem still occurs in latest version

[2021-05-01 13:13] tengis commented on #137
Hi, PR is created. Cheers

[2021-05-09 13:56] sudo-suhas commented on #132
Closed via #133 , changes are merged and released in [`elastic-builder@v2.15.0`](https://github.com/sudo-suhas/elastic-builder/releases/tag/v2.15.0) 🎉

[2021-05-25 13:44] xballoy commented on #122
@sudo-suhas I'm have this issue as well with (`BucketAggregationBase`). I will do a PR but what's the expected behaviour?

- Export the base types (`Query`, `Aggregation`, `BucketAggregationBase`...) in the `index.js` so we can actually extends them as explained in the doc?
OR
- Remove the reference from the declaration file?

[2021-05-29 12:02] sudo-suhas commented on #122
I feel extending the class is a much more rare use-case so would prefer to remove the reference from the declaration file. if possible, to reduce noise. Declaring these in the declaration file was done largely because I did not know how to extend a particular class without declaring it in the namespace.

[2021-05-31 12:14] xballoy commented on #122
Ok, I will have a look to see if we can remove the references then 👍

[2021-06-22 14:59] developersarm opened #147 "Support for ignore_unmapped in GeoDistance Sort query"
Can we please add support for `ignore_unmapped` in the _geo_distance sort query?
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-sort.html#geo-sorting

I can create a PR if you agree.

[2021-06-26 10:16] sudo-suhas commented on #147
A PR would be very much welcome 🙂. Please do call out the Elasticsearch version that introduced this feature in the doc comments.

[2021-06-28 16:08] sanvir10 opened #148 "Support "multi_terms" Aggregation"
Elasticsearch add new type of Aggregation in version 7.12:
https://www.elastic.co/guide/en/elasticsearch//reference/master/search-aggregations-bucket-multi-terms-aggregation.html

Regards.

[2021-06-29 05:40] sudo-suhas commented on #148
@sanvir10 would you be interested in creating a PR for the same?

[2021-07-20 11:56] Patrik-scx opened #149 "Support distance_feature"
Hello, could you please help to figure out if distance_feature is supported by elastic-builder?

If no, what it the way to run raw query.

https://www.elastic.co/guide/en/elasticsearch/reference/7.13/query-dsl-distance-feature-query.html

[2021-07-21 15:08] grygoriy-pinkas-scx commented on #149
I also faced the same issue. will be glad to receive your suggestions

[2021-08-01 08:10] sudo-suhas commented on #149
It is not currently supported in `elastic-builder`. A PR would be more than welcome.

It would be possible to use a custom class that extends [`Query`](https://elastic-builder.js.org/docs/#query).

[code]

[2021-08-24 18:54] sanvir10 opened #152 "Support to runtime_mappings"
In the doc page i can't see if this support add runtime_mappings in the query body:

Example:
[code]

Ref: https://www.elastic.co/guide/en/elasticsearch/reference/7.x/runtime-search-request.html

[2021-08-29 05:43] sudo-suhas commented on #152
This is not supported as of now. PRs are welcome.

[2021-08-29 05:44] #113 closed

[2021-08-29 05:45] #128 closed

[2021-08-29 05:45] #137 closed

[2022-01-07 05:44] priya0703 commented on #135
Cumulative cardinality aggregation is available for Elasticsearch  version above 7.x.. can it be added to the library as well

[2022-01-08 14:39] AsafEini opened #154 "adding support for weighted average aggregation"
elastic 7.X.X and above do support this kind of aggregation
can is be possible to do so?
es docs: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-weight-avg-aggregation.html

thanks in advance

[2022-01-09 09:31] sudo-suhas commented on #154
A PR to add this to the library would be welcome.

[2022-03-04 18:33] jparish3 opened #157 "Error: Cannot find module 'util'"
trying to use "elastic-builder": "^2.16.0" in "vue": "^2.6.14" as a replacement for "bodybuilder": "^2.4.0" which has been working great, but not as comprehensive as elastic-builder

Error: Cannot find module 'util'
    at webpackMissingModule (util.js?0f0e:9:1)
    at eval (util.js?0f0e:9:1)
    at Object../node_modules/elastic-builder/lib/core/util.js

also at eval (query.js?5ee0:13:1) & at eval

[2022-03-04 20:16] jparish3 commented on #157
To solve it: npm install util   I guess there is a dependency load issue. I should have tried this first

[2022-03-04 23:18] jparish3 opened #158 "adding-filters-dynamically"
Is there a way to add filters, etc. dynamically from an array as in the example below?

// https://stackoverflow.com/questions/44738531/adding-filters-dynamically-to-dsl-query-body-generated-using-bodybuilder-js

      const filterTerms = ['red', 'green', 'black']
      const body = bodybuilder()
      body.query('match', 'searchable', 'foobar')
      filterTerms.reduce((filterBody, term) => {

[2022-04-01 12:06] thechiragarora opened #159 "Unable to create use score script inside the function score query"
I have a query -

`                    "function_score": {
                        "query": {
                          "term": {
                            "test": {
                              "value": "test"
                            }
                          }
                        },
                        "script_score": {
                          "script": {

[2022-04-01 14:57] Dpower92 commented on #159
I have similar problem i cannot find way to add something like this
`{
              "script_score":{
                "query":{
                  "match":{
                    "name.raw":{
                      "query":"player"
                    }
                  }
                },
                "script":{
                  "source":"doc['final_score'].value * 10"
                }

[2022-04-03 11:11] thechiragarora commented on #159
I got the way -

`esb.functionScoreQuery().query(query)
      .function(esb.scriptScoreFunction(esb.script('inline', score)
        .lang('painless')))
      .boostMode('replace')`

[2022-04-03 11:11] #159 closed

[2022-04-15 15:28] lostpebble opened #160 "Remove dependency on Node.js specific modules"
Hi,

I'd like to use this module inside a non-Node.js context, and unfortunately the dependency on `"util"` is not allowing me to:

[code]

Specifically, I'd like to use this from Cloudflare Workers- which is basically the same context as a Service Worker. Since this project is about simply creating JSON to put into a POST request to an endpoint- it seems like using Node.js specific modules should

[2022-08-09 09:32] saviifraimov2 opened #162 "lack of support in intervals"
Building an Elasticsearch query using elastic-builder. Most cases are covered. However, "Intervals" is not.

What am I trying and why? to use intervals for search queries such as "home center store" within-6-distance-of plate (AKA ~6). So, for example: plate "home center store" ~6 should give me hits like
```"in home center store, my favorite plate can be found"```,
whereas
 ```"in home center sto

[2022-09-03 02:07] sudo-suhas commented on #160
Yes, would be happy to accept the PR.

[2022-11-14 15:54] jzzfs commented on #106
Thanks @sudo-suhas -- I didn't know you can pass props to the fns and they _won't_ get dropped!

@mohak-cf & anyone who stumbles on this in the future -- here's a what I ended up going with:
[code]

[2022-11-15 04:49] sudo-suhas commented on #157
Have removed the dependency on util. Closing this issue.

[2022-11-15 04:49] #157 closed

[2022-11-15 04:51] sudo-suhas commented on #88
Had to finally get to this because travis-ci broke the CI. Release notes works as intended with latest version of `semantic-release`.

[2022-11-15 04:51] #88 closed

[2022-11-15 05:03] sudo-suhas commented on #158
Not that different with `elastic-builder`:

[code]

This produces the following output:

[code]

[2022-11-15 05:03] #158 closed